@media screen and (max-width: 1080px) {
    
    .NavBar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%; 
    }

    .Logo{
        width: 12vh;
    }
    .Logo:hover{
        box-shadow: 0 0 10px #619ecf, 0 0 40px #619ecf, 0 0 80px #619ecf;
        border-radius: 100%;
        transition: 2s;
        background-color: #619ecf;
    }

}
@media screen and (min-width: 1080px) {

    .Logo{
        width: 12vh;
        margin-top:-40px;
    }
    .Logo:hover{
        box-shadow: 0 0 10px #619ecf, 0 0 40px #619ecf, 0 0 80px #619ecf;
        border-radius: 100%;
        transition: 2s;
        background-color: #619ecf;
    }

    .NavBar{
        display: flex;
        justify-content: space-between;
        width: 80%;
        flex-direction: row;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 40px;
    }


    .tittle{
        padding-left: 190px;
    }

    
}


.span{
    box-shadow: #619ecf;
    border-top: 1px solid #619ecf;
    height: 2px;
    width: 80%;
    padding: 0;
    margin: 20px auto 0 auto;
}
.neon{
    display: inline-block;
    color: transparent;    
    -webkit-text-stroke: 2px #1c91f1;
    font-size: 4vh;
    position: relative;
    transition: all ease-out 200ms;
    animation: lux 1.1s ease-in infinite normal both;
}
.boton_neon {
    display: inline-block;
    padding: 20px 5px;
    background-color: transparent;
    border: 0;
    color: #619ecf;
    text-transform: uppercase;
    font-size: 4vh;
    position: relative;
    transition: all ease-out 200ms;
    animation: efecto-texto-luz 1s ease-in infinite normal both;
}
.boton_neon:hover {
    color: #38EDE8;
    text-shadow: 0 0 3px #38EDE8;
    animation: none !important;
}
.boton_neon::after,
.boton_neon::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: -3px;
    top: -3px;
    border-radius: 8px;
    transition: all ease-out 200ms;
    animation: efecto-luz 0s ease-in infinite normal both;
}
.boton_neon:hover::before,
.boton_neon:hover::after {
    border-color: #38EDE8;
    animation: none !important;
}
.boton_neon:hover::before {
    filter: blur(4px);
}
.boton_neon:active {
    color: #619ecf;
    text-shadow: 0 0 0 #619ecf;
}
.boton_neon:active::before,
.boton_neon:active::after {
    animation: none !important;
}



.reset{
    background-color: transparent;
    border-style: none;
}

@keyframes efecto-texto-luz {
    from, 20%, 36%, to {
        color: #619ecf;
    }
    23% {
        color: #38EDE8;
    }
}
@keyframes lux {
    from, 20%, 36%, to{
        -webkit-text-stroke: 2px #1c91f1;
    }
    23%{
        -webkit-text-stroke: 2px #38EDE8;
    }
}