.Logo{
    width: 12vh;
    margin-top:-40px;
}
.Logo:hover{
    box-shadow: 0 0 10px #619ecf, 0 0 40px #619ecf, 0 0 80px #619ecf;
    border-radius: 100%;
    transition: 2s;
    background-color: #619ecf;
}
.NavBar{
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
}

.span{
    box-shadow: #619ecf;
    border-top: 1px solid #619ecf;
    height: 2px;
    width: 80%;
    padding: 0;
    margin: 20px auto 0 auto;
}
.option{
    text-decoration: none;
    color: #1c91f1;
    font-size: 35px;
    padding: 5px;
}

.option:hover{
    background-color: #619ecf;
    box-shadow: 0 0 10px #619ecf, 0 0 40px #619ecf, 0 0 80px #619ecf;
    transition: 2s;
    cursor: pointer;
    border-style: none;
    color: white;
    border-radius: 10px;
}

.boton_neon {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    border: 0;
    color: #619ecf;
    text-transform: uppercase;
    padding-left: 180px;
    font-size: 4vh;
    letter-spacing: 5px;
    position: relative;
    transition: all ease-out 200ms;
    animation: efecto-texto-luz 2s ease-in infinite normal both;
}
.boton_neon:hover {
    color: #38EDE8;
    text-shadow: 0 0 3px #38EDE8;
    animation: none !important;
}
.boton_neon::after,
.boton_neon::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: -3px;
    top: -3px;
    border-radius: 8px;
    transition: all ease-out 200ms;
    animation: efecto-luz 1.5s ease-in infinite normal both;
}
.boton_neon:hover::before,
.boton_neon:hover::after {
    border-color: #38EDE8;
    animation: none !important;
}
.boton_neon:hover::before {
    filter: blur(4px);
}
.boton_neon:active {
    color: #619ecf;
    text-shadow: 0 0 0 #619ecf;
}
.boton_neon:active::before,
.boton_neon:active::after {
    animation: none !important;
}

@keyframes efecto-texto-luz {
    from, 20%, 36%, to {
        color: #619ecf;
    }
    23% {
        color: #38EDE8;
    }
}
