.dogsArea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding-top: 1.5vh;
}

.showCards{
    min-width: 100%;
}
.paginate{
    min-width: 100%;
    display: flex;
    justify-content: center;
}